<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Currency</title>

<#include "/dist/common/link.html" />

<script type="text/javascript">
	$(function() {
		$('#query').click(function() {
			$('#addSearchForm').submit();
		});
		$('#myModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget);
			  var code = button.data('code');
			  var name = button.data('name');
			  var currencyType = button.data('currencytype');
			  var modal = $(this);
			  $('#downForm #code').val(code);
			  $('#downForm #name').val(name);
			  $('#downForm #currencyType').val(currencyType);
		});
		$('#down_btn').click(function() {
			$('#down_btn_text').text("正在下载,请稍后...");
			$("#cancel_btn").attr("disabled", true);
			$("#down_btn").attr("disabled", true);
			$('#downForm').submit();
		});
	})
</script>
</head>
<body>
	<#include "/dist/common/header.html" />
	<div class="container-fluid">
		<div class="row">
			<#include "/dist/common/left.html" />
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<form id="addSearchForm" action="addSearch" class="form-inline"
					style="margin-top: 30px;" method="post">
					<div class="form-group" style="margin-left: 3%">
						<label for="exampleInputEmail2">股票名称或代码</label> <input type="text"
							class="form-control" id="exampleInputEmail" name="qo.keyword">
					</div>
					<button id="query" type="submit" class="btn btn-default"
						style="margin-left: 3%">Search</button>
					<a class="btn btn-success" href="../currency/updateCurrency" role="button" style="margin-left: 1%">下载涨幅榜</a>
				</form>
				<form id="downForm" action="add" class="form-inline"
									 method="post" hidden="true">
					<input hidden="true" id="code" name="c.code" />
					<input hidden="true" id="name" name="c.name" />
					<input hidden="true" id="currencyType" name="c.currencyType" />
				</form>
				<table class="table table-bordered" style="margin-top: 50px;">
					<thead>
						<tr>
							<th>序号
							<th>股票名称
							<th>股票代码
							<th>操作
						</tr>
					</thead>
					<tbody>
						<#if cs?size==0>
						<tr>
							<td colspan="4">暂无数据...
						</tr>

						</#if> <#list cs as p>
						<tr>
							<td>${p_index+1}
							<td>${p.name}
							<td>${p.code}
							<td><button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#myModal" 
									data-code="${p.code}" data-name="${p.name}" 
									data-currencytype="${p.currencyType}">下载数据</button></td>
						</tr>
						</#list>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">温馨提示</h4>
	      </div>
	      <div class="modal-body" style="text-align: center;"
					id="down_btn_text">是否确认下载该股票数据?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">暂时不下载</button>
	        <button type="button" class="btn btn-primary" id="down_btn">确认下载</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>
