<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="utf-8">
<title>ECharts</title>
<#include "/dist/common/link.html" />
</head>

<body style="height: 100%; margin: 0">
	<input type="hidden" id="code" name="code" value="${code}" />
	<div class="container-fluid" style="height: 100%">
	  <div class="row" style="height: 100%">
	    <div class="col-md-11" style="height: 100%">
	    	<div id="container" style="height: 100%"></div>
	    </div>
  		<div class="col-md-1" style="top: 20%;right: 2%;">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    K线类型
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#" onclick="fetchData('k')">日K</a></li>
			    <li><a href="#" onclick="fetchData('m60k')">60分钟</a></li>
			    <li><a href="#" onclick="fetchData('m30k')">30分钟</a></li>
			    <li><a href="#" onclick="fetchData('m15k')">15分钟</a></li>
			    <li><a href="updateData?code=${code}">更新数据</a></li>
			  </ul>
			</div>
		</div>
	  </div>
	</div>
	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('container'));

		// 指定图表的配置项和数据
		var klines = [], strokes = [], lines = [], lineStrokes = [];

		var data0;

		function fetchData(kType){
			// 异步加载数据
			$.get('fetchData?code=${code}&kType='+kType).done(function(data) {
				// 填入数据
				klines = data.p2pdata.klines;
				strokes = data.p2pdata.strokes;
				lines = data.p2pdata.lines;
				lineStrokes = data.p2pdata.lineStrokes
				data0 = splitData(klines);
				// 填入数据
				myChart.setOption({
					title : {
						text : data.p2pdata.currency.name + '[' + data.p2pdata.currency.code + "]" +':'+ kType +'线图'
					},
					xAxis : [ {
						data : data0.categoryData
					}, {
						data : data0.categoryData
					} ],
					series : [ {
						data : data0.values,
					}, {
						data : calculateMA(5),
					}, {
						data : calculateMA(10),
					}, {
						data : calculateMA(20),
					}, {
						data : calculateMA(30),
					}, {
						data : strokes,
					}, {
						markLine : {
							data : lines,
						},
						data : lineStrokes,
					}, {
						data : data0.macds,
					}, {
						data : data0.difs
					}, {
						data : data0.deas
					} ]
				});
			});
		};
		
		fetchData('k');

		function splitData(rawData) {
			var categoryData = [];
			var values = [];
			var macds = [];
			var difs = [];
			var deas = [];
			for (var i = 0; i < rawData.length; i++) {
				categoryData.push(rawData[i].splice(0, 1)[0]);
				values.push(rawData[i].splice(0, 4));
				macds.push(rawData[i][2]);
				difs.push(rawData[i][0]);
				deas.push(rawData[i][1]);
			}
			return {
				categoryData : categoryData,
				values : values,
				macds : macds,
				difs : difs,
				deas : deas
			};
		}

		function calculateMA(dayCount) {
			var result = [];
			for (var i = 0, len = data0.values.length; i < len; i++) {
				if (i < dayCount) {
					result.push('-');
					continue;
				}
				var sum = 0;
				for (var j = 0; j < dayCount; j++) {
					sum += data0.values[i - j][1];
				}
				result.push(sum / dayCount);
			}
			return result;
		}

		var option = {
			color : [ "#c23531", "#2f4554", "#61a0a8", "#d48265", "#749f83",
					"#ca8622", "#bda29a", "#6e7074", "#546570", "#c4ccd3",
					"#f05b72", "#ef5b9c", "#f47920", "#905a3d", "#fab27b",
					"#2a5caa", "#444693", "#726930", "#b2d235", "#6d8346",
					"#ac6767", "#1d953f", "#6950a1", "#918597", "#f6f5ec" ],
			tooltip : {
				trigger : 'axis',
				axisPointer : {
					type : 'cross'
				}
			},
			grid : [ {
				left : '3%',
				right : '3%',
				top : '5%',
				height : '65%'
			}, {
				left : '3%',
				right : '3%',
				top : '75%',
				height : '20%'
			} ],
			xAxis : [ {
				type : 'category',
				data : [],
				scale : true,
				boundaryGap : false,
				axisLine : {
					onZero : false,
					lineStyle : {
						color : 'red',
					}
				},
				splitLine : {
					show : false
				},
				splitNumber : 20
			}, {
				type : 'category',
				gridIndex : 1,
				data : [],
				axisLabel : {
					show : false
				},

			} ],
			yAxis : [ {
				scale : true,
				splitArea : {
					show : true
				},
				axisLine : {
					lineStyle : {
						color : 'red',
					}
				},
				position : 'right'
			}, {
				gridIndex : 1,
				splitNumber : 3,
				axisLine : {
					onZero : false
				},
				axisTick : {
					show : false
				},
				splitLine : {
					show : false
				},
				axisLabel : {
					show : true
				},
				axisLine : {

					lineStyle : {
						color : 'red'

					}
				},
				position : 'right'
			} ],
			dataZoom : [ {
				type : 'inside',
				start : 100,
				end : 80
			}, {
				show : true,
				type : 'slider',
				y : '90%',
				start : 50,
				end : 100
			}, {
				show : false,
				xAxisIndex : [ 0, 1 ],
				type : 'slider',
				start : 20,
				end : 100
			} ],
			series : [ {
				name : 'K',
				type : 'candlestick',
				data : [],
				markPoint : {
					data : [ {
						name : 'XX标点'
					} ]
				},
				markLine : {
					silent : true,
					data : [ {
						yAxis : 2222,
					} ]
				}
			}, {
				name : 'MA5',
				type : 'line',
				data : [],
				smooth : true,
				lineStyle : {
					normal : {
						opacity : 0.5
					}
				}
			}, {
				name : 'MA10',
				type : 'line',
				data : [],
				smooth : true,
				lineStyle : {
					normal : {
						opacity : 0.5
					}
				}
			}, {
				name : 'MA20',
				type : 'line',
				data : [],
				smooth : true,
				lineStyle : {
					normal : {
						opacity : 0.5
					}
				}
			}, {
				name : 'MA30',
				type : 'line',
				data : [],
				smooth : true,
				lineStyle : {
					normal : {
						opacity : 0.5
					}
				}
			}, {
				"markLine" : {
					"data" : []
				},
				"name" : "Stroke",
				"data" : [],
				"symbol" : "emptyCircle",
				"smooth" : false,
				"label" : {
					"emphasis" : {
						"textStyle" : {
							"fontSize" : 12
						},
						"show" : true
					},
					"normal" : {
						"position" : "top",
						"textStyle" : {
							"fontSize" : 12
						},
						"show" : false
					}
				},
				"step" : false,
				"yAxisIndex" : 0,
				"symbolSize" : 4,
				"markPoint" : {
					"data" : []
				},
				"areaStyle" : {
					"opacity" : 0
				},
				"lineStyle" : {
					"normal" : {
						"opacity" : 1,
						"width" : 1,
						"type" : "solid",
						"curveness" : 0
					}
				},
				"xAxisIndex" : 0,
				"type" : "line",
				"showSymbol" : true
			}, {
				"markLine" : {
					"lineStyle" : {
						"normal" : {
							"type" : "solid"
						}
					},
					"data" : [],
					"symbolSize" : 0
				},
				"name" : "Line",
				"data" : [],
				"symbol" : "circle",
				"label" : {
					"emphasis" : {
						"textStyle" : {
							"fontSize" : 12
						},
						"show" : true
					},
					"normal" : {
						"position" : "top",
						"textStyle" : {
							"fontSize" : 12
						},
						"show" : false
					}
				},
				"yAxisIndex" : 0,
				"symbolSize" : 2,
				"markPoint" : {
					"data" : []
				},
				"xAxisIndex" : 0,
				"type" : "scatter"
			}, {
				name : 'MACD',
				type : 'bar',
				xAxisIndex : 1,
				yAxisIndex : 1,
				data : [],
				itemStyle : {
					normal : {
						color : function(params) {
							var colorList;
							if (params.data >= 0) {
								colorList = '#ef232a';
							} else {
								colorList = '#14b143';
							}
							return colorList;
						},
					}
				}
			}, {
				name : 'DIF',
				type : 'line',
				xAxisIndex : 1,
				yAxisIndex : 1,
				data : []
			}, {
				name : 'DEA',
				type : 'line',
				xAxisIndex : 1,
				yAxisIndex : 1,
				data : []
			} ],
			"legend" : [ {
				"textStyle" : {
					"fontSize" : 12
				},
				"show" : true,
				"top" : "top",
				"selectedMode" : "multiple",
				"data" : [ "K", "MA5", "MA10", "MA20", "MA30", "Stroke",
						"Line", "MACD", "DIF", "DEA" ],
				"orient" : "horizontal",
				"left" : "center"
			} ]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>
</body>
</html>